<!DOCTYPE html>
<html>
  <head>
    <title>LegisLatio</title>
    <link rel="icon" href="<%= asset_path 'legislatio_logo2_transparent4.png' %>" type="image/png">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <div class="" data-controller="dropdown" data-action="click->dropdown#hideDropdownContent">
      <div class="sessions">
        <%= render 'flash'%>
        <div class="sessions-white-cont">
            <%= yield %>
        </div>
      </div>

    </div>
  </body>
</html>
