<!DOCTYPE html>
<html>
  <head>
    <title>LegisLatio</title>
    <link rel="icon" href="<%= asset_path 'legislatio_logo2_transparent4.png' %>" type="image/png">

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="content" data-controller="dropdown" data-action="click->dropdown#hideDropdownContent">
      <%= render "top_menu" %>

      <div class="bottom-cont">
        <%= render "left_menu" %>
        <div class="right-cont main-container">
          <main>
            <%= render "application/flash"%>
            <div class="content-padding">
              <%= yield %>
            </div>
          </main>
        </div>
      </div>
    </div>

    <script>
      (function() {
        const isCollapsed = localStorage.getItem('menu-collapsed') === 'true';
        if (isCollapsed) {
          const navigation = document.querySelector('.navigation');
          if (navigation) {
            navigation.classList.add('collapsed');
          }
          const icon = document.querySelector('[data-menu-target="icon"]');
          if (icon) {
            icon.classList.remove('fa-chevron-left');
            icon.classList.add('fa-chevron-right');
          }
        }
      })();
    </script>

    <%= yield :scripts %>
  </body>
</html>
